.stastics {
    width: 80%;
    margin: 0rem auto;
    background-color: rgb(189, 182, 182);
}

.stastics .box_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    
}

.box_wrapper .box {
    width: 30%;
    background-color: #fafafa;
    box-shadow: 2px 2px 8px rgba(30,30,30,.2);
    margin: 10px 10px;
    text-align: center;
    padding: 10px 0px;
    text-transform: uppercase;
    overflow: hidden;
}

.box_wrapper .box h2 {
    margin: 10px 10px;
    font-size: 1.6rem;
    overflow: hidden;
    font-weight: 400;
}

.box_wrapper .box p{
    font-size: 2.5rem;
    margin: 10px 10px;
    font-weight: 400;
}

.box_wrapper .box #total_cases{
    color: rgb(178, 23, 23);
}
.box_wrapper .box #total_recovered{
    color: rgb(75, 174, 85);
}

@media (max-width: 820px){
    .stastics {
        width: 50%;
        margin: 0rem auto;
        background-color: rgb(189, 182, 182);
    }
    .stastics .box_wrapper {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .box_wrapper .box {
        width: 80%;
        background-color: #fafafa;
        box-shadow: 2px 2px 8px rgba(30,30,30,.2);
        margin: 2px 2px;
        text-align: center;
        padding: 3px 0px;
        text-transform: uppercase;
        overflow: hidden;
    }
    .box_wrapper .box h2 {
        margin: 3px 3px;
        font-size: 1rem;
        overflow: hidden;
        font-weight: 400;
    }
    .box_wrapper .box p{
        font-size: 1.3rem;
        margin: 3px 3px;
        font-weight: 400;
    }
}